@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}
#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
li {
  list-style: none;
}
body,
html {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  background: rgb(142, 102, 43);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'MedievalSharp';
}
