.img {
  width: 35px;
}
.button {
  background-color: transparent;
  border: none;
  width: 20px;
  cursor: pointer;
}
.divprofile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px;
}
