.div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.593);
  gap: 10px;
  height: 100%;
  width: 100%;
  padding: 10px;
}
.titulo {
  text-align: center;
  font-size: 20px;
  padding: 5px;
}
.section1 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
  height: 500px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.84);
  border: 1.6px solid rgba(0, 0, 0, 0.692);
  border-radius: 2%;
  padding: 9px;
}
@media (min-width: 500px) {
  .section1 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    height: 510px;
    width: 340px;
    background-color: rgba(255, 255, 255, 0.84);
    border: 1.6px solid rgba(0, 0, 0, 0.692);
    border-radius: 2%;
    padding: 0.5rem;
  }
}
.bu {
  border: 1.6px solid rgba(0, 0, 0, 0.692);
  cursor: pointer;
}
.contentimgs {
  width: 100%;
  display: flex;
  justify-content: center;
}
.noimage {
  border: 2px dashed black;
  width: 100%;
  max-height: 92%;
  border-radius: 5%;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
.image {
  width: 100%;
  border: 1px solid black;
  border-radius: 2%;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.info p {
  font-size: 11px;
  color: rgb(142, 102, 43);
  font-family: poppins;
}

button {
  border-radius: 50px;
  padding: 8px;
  margin: 15px;
  font-size: 15px;
  background-color: rgb(142, 102, 43);
}

.destacado {
  font-weight: bold;
}
.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  text-align: justify;
}
.titulo {
  font-size: 2rem;
}
